{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5 ">
    <h1 class="text-warning mb-4 border-bottom ">CONTACT US</h1>
    <div class="row text-white mb-4.5 ">
        <p class="mx-auto mb-5 text-center">
            <b>Do you have any question? Please do not hesitate to contact. <br>I will come
            back to you within a matter of hours to help you. </b></p>
        <div class="col-sm-9">
            <form action="" >
                <div class="form-row" >
                    <div class="form-group col-md-6">
                        <label for="inputName"><b>Your Name</b></label>
                        <input type="text" class="form-control" id="inputName" placeholder="Your Name" />
                    </div>

                    <div class="form-group mt-3 col-md-6 ">
                        <label for="inputEmail"><b>Your Email </b>*</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Your Email" required />
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="inputSubject"><b>Your Subject</b></label>
                    <input type="text" class="form-control" id="inputSubject" placeholder="Your Subject" />
                </div>

                <div class="mt-3">
                    <label for="inputTextarea"><b>Your Message</b>*</label>
                    <textarea class="form-control" id="inputTextarea" required placeholder="Your Messages"></textarea>
                </div>
                <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Send</button>  
             
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-color"></i>
                    <p>Noida, Delhi India</p>
                </li>
                <li>
                    <a href="https://wa.me/+919507008132/" target="_blank"><i class=" mt-4 fa-2x fab fa-whatsapp i-color mr-3"></i></a>
                    <p>+91 950 700 8132</p>
                </li>
                <li>
                    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><i class="fas fa-envelope fa-2x i-color"></i></a>
                    <p>mujahidalam1997@gmail.com</p>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="https://www.linkedin.com/in/mujahid-fighter/" target="_blank"><i class="fab fa-linkedin i-color mr-3"></i></a>
    <a href="https://twitter.com/Mujahid_Fighter" target="_blank"><i class="fab fa-twitter i-color mr-3"></i></a>
    <a href="https://www.facebook.com/mujahid7fighter/" target="_blank"><i class="fab fa-facebook-f i-color mr-3"></i></a>
    <a href="https://www.instagram.com/mujahid_fighter/" target="_blank"><i class="fab fa-instagram i-color mr-3"></i></a>
    <a href="https://wa.me/+919507008132/" target="_blank"><i class="fab fa-whatsapp i-color mr-3"></i></a>
    <a href="https://github.com/Mujahid-Alam" target="_blank"><i class="fab fa-github i-color mr-3"></i></a>
</div>

{% endblock content %}