{% extends 'core/base.html' %}
{% load static %}



{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom mt-5">PROJECTS</h1>
    <div class="owl-carousel owl-theme">

      {% for p in project %}
      <div class="item">
        <h4>
            <img class="card-img-top " src="{{ p.image.url }}" alt="Card image cap" style="height:170px ;">
            <div class="card " style="height: 12rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ p.title }}</h5>

                  <p style="font-size:13px;   
                    -webkit-box-orient: vertical;
                    display: block;
                    display: -webkit-box;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                 " class="card-text ">{{p.description}}</p>
                
                </div>
                <div class="row">
                  <div class="col">
                    <a href="{{ p.github }}" class="btn btn-primary " style="float: left; width: 50%;">Github</a>
                    <a href="{{ p.live }}" class="btn btn-success" style="float: right;  width: 50%;">Live</a>
                  </div>


                </div>

                
              </div>

        </h4>   
      </div>
      {% endfor %}  
</div>
{% endblock content %}

