{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom mt-5">Projects</h1>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <h4>
                <img class="card-img-top" src="{% static 'core/images/pic1.jpg' %}" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-truncate">Web Scrapping</h5>
                      <h6 class="card-text ">With supporting text below as a natural lead-in to additional content.</h6>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </h4>     
        </div>

        <div class="item">
            <h4>
                <img class="card-img-top" src="{% static 'core/images/pic1.jpg' %}" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-truncate">Special title treatment</h5>
                      <h6 class="card-text">With supporting text below as a natural lead-in to additional content.</h6>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </h4>     
        </div>
        <div class="item">
            <h4>
                <img class="card-img-top" src="{% static 'core/images/pic1.jpg' %}" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">E-commerce</h5>
                      <h6 class="card-text">With supporting text below as a natural lead-in to additional content.</h6>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </h4>     
        </div>

        <div class="item">
            <h4>
                <img class="card-img-top" src="{% static 'core/images/pic1.jpg' %}" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Django</h5>
                      <h6 class="card-text">With supporting text below as a natural lead-in to additional content.</h6>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </h4>     
        </div>

        <div class="item">
            <h4>
                <img class="card-img-top" src="{% static 'core/images/pic1.jpg' %}" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Web Developement</h5>
                      <h6 class="card-text">With supporting text below as a natural lead-in to additional content.</h6>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </h4>     
        </div>


        <div class="item">
            <h4>
                <img class="card-img-top" src="{% static 'core/images/pic1.jpg' %}" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Blogging</h5>
                      <h6 class="card-text">With supporting text below as a natural lead-in to additional content.</h6>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </h4>     
        </div>


        <div class="item">
            <h4>
                <img class="card-img-top" src="{% static 'core/images/pic1.jpg' %}" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <h6 class="card-text">With supporting text below as a natural lead-in to additional content.</h6>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </h4>     
        </div>

   

</div>
{% endblock content %}


<!-- 
<div class="item card" style="width: 18rem;">
    <img class="card-img-top" height="180px" src="{% static 'core/images/pic1.jpg' %}" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Card titl2e</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->